{% extends "OrestadChecklistBundle::layout.html.twig" %}

{% block header %}
    <h1>Add the new stores details.</h1>
{% endblock %}

{% block content %}
    <form action="{{ path('orestad_checklist_store_add') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.tel) }}
        {{ form_row(form.address) }}

        {{ form_rest(form) }}
        <input type="submit" value="send it!">
    </form>
{% endblock %}
